body {
  background-color: #d3d3d3;
}

a:hover{
 text-decoration: none; 
}

.form-signin {
  position: relative;
  top:50px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#loader {
  margin-top: 20px;
}

.img-responsive {
  margin: 0 auto;
}

.avatars img{
      width: 150px;
      height: 150px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #3c8dbc;
  margin: 1em 0;
  padding: 0; 
}

.inner {
  color: #fff;
}

label.error {
  color: #FF0000;
}

img.img_default {
  margin: auto;
  width: 150px;
  height: 150px;
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }